@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap");
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 48px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: 'liga'; }

.navbar {
  width: 100%;
  background: none !important; }
  @media (max-width: 766px) {
    .navbar {
      background: white !important; } }
  .navbar .backUpTrail {
    width: 2em;
    margin: 0em; }
  .navbar .nav-item {
    width: 100%;
    font-weight: 400;
    padding: .25em .75em .325em .75em;
    font-size: 1.25em;
    z-index: 10; }

.slide {
  width: 100%px; }

.fullSlide {
  width: 100%; }

.tag_ul {
  margin-bottom: 1em;
  margin-top: 1em;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  display: flex; }

button {
  border: 0;
  color: black;
  background-color: white; }

/*
button:hover {
    border:0;
     
    
    


    


}
causing issues removed but may need it back? */
h6 {
  pointer-events: inherit; }

.padChange:hover {
  padding-bottom: 0;
  padding-top: 5px;
  border-top-style: 2px solid white;
  box-shadow: none; }
  .padChange:hover button {
    border: none white; }
  .padChange:hover button:hover {
    border: none white; }

.padChange {
  padding-bottom: 3px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
  padding-top: 0px; }

.pressMe {
  margin-top: -4px;
  flex: 1 0 auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.019);
  width: static; }

.mdc-chip-set {
  border-radius: 2em;
  font-size: 1em;
  color: black;
  background-color: #e0e0e0;
  padding: .4em .75em .125em .75em;
  margin-left: .5em; }

.greyout {
  color: #e0e0e0; }

.profilePic {
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%; }

.moreButton {
  font-size: 24px;
  position: relative;
  color: black; }

.floater {
  position: absolute;
  right: 1em;
  top: 1em; }

div#colPushDown {
  height: 40em; }

.navbar {
  z-index: 1;
  background-color: white;
  position: relative; }

span#myTitleDIV {
  order: 4; }

span#mySpacerDIV {
  order: 3;
  border-color: blueviolet; }

span#myImagesDIV {
  order: 1; }

span#myAccordianDIV {
  order: 2; }

.coverPict {
  object-fit: cover;
  overflow: hidden;
  height: 300px;
  width: auto; }

.coverPicture {
  object-fit: cover;
  height: 545px;
  width: 100%; }

.coverPictureTop {
  object-fit: cover;
  height: 252px;
  width: 100%; }

.coverPictureSection {
  object-fit: cover;
  height: 400px;
  width: 100%; }

.width248 {
  max-width: 248px; }

.cover {
  object-fit: cover;
  width: 100%; }

.positionPicture67 {
  object-position: 0 67%; }

.coverVerticalSixty {
  object-fit: cover;
  height: 80vh;
  object-position: 0 45%; }

.lineSpaceIt {
  line-height: 1.4em; }

.iconSmall {
  font-size: 2.1em; }

.iconSmaller {
  font-size: 1.5em; }

.rotate180 {
  transform: rotate(180deg);
  transform-origin: center center; }

.rotate360 {
  transform: rotate(360deg);
  transform-origin: center center; }

/*
.relativeContainer {
    position: relative;
    align-items: center;
}
*/
.containgrey {
  background-color: #EFEFEF; }

.fontColorGrey {
  color: #CFCFCF; }

.fontColorRed {
  color: #FF003C; }

.whitebox {
  border-color: #DDDDDD;
  border-style: solid;
  border-width: .25px;
  background-color: white; }

input[type=text] {
  width: 130px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  display: none; }

input[type=text]:focus {
  width: 100%; }

@media (min-width: 768px) {
  .responseText {
    font-size: 1.25em; } }

@media (min-width: 768px) {
  .contextButton {
    display: none; } }

.cardContext:hover .contextButton {
  display: inline; }

.item_figcaption {
  margin-top: .75em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  /*This is how you do the Ellipsis based on the shape of its container*/ }

.coverHeight {
  width: 50%;
  height: 400px; }
  @media (min-height: 600px) {
    .coverHeight {
      height: 60vh;
      width: 50%; } }
  @media (max-width: 576px) {
    .coverHeight {
      width: 100%;
      height: 300px; } }

.subCoverHeight {
  height: 200px; }
  @media (min-height: 600px) {
    .subCoverHeight {
      height: 29.78vh; } }
  @media (max-width: 576px) {
    .subCoverHeight {
      height: 15vh; } }

@media (max-width: 992px) {
  .subCoverHide {
    display: none; } }

.subCoverShown {
  width: 25%; }
  @media (max-width: 992px) {
    .subCoverShown {
      width: 50%; } }
  @media (max-width: 576px) {
    .subCoverShown {
      width: 50%; } }

@media (min-width: 576px) {
  .mobileVerticalSpacer {
    display: none; } }

@media (max-width: 576px) {
  .mobileVerticalRemove {
    display: none; } }

.zindex10 {
  z-index: 10; }

.placement {
  top: 0;
  left: 0;
  z-index: 0; }

.concentricCircle {
  border: 1px #FFC107;
  border-style: dashed; }

.colorGreyBright {
  background-color: white;
  border-radius: .25em; }

.colorGreyStroke {
  background-color: #EAEAEA;
  border: 1px solid #bbbbbb;
  border-radius: .25em; }

.colorGreyCalc {
  background-color: #EFEEEC; }

.colorLightTan {
  background-color: #F5F4F2;
  border-radius: .25em; }

.colorBrightPink {
  background-color: #FE2878;
  border-radius: .25em; }

.colorBrightPinkStroke {
  background-color: #FE2878;
  border: 1px solid #be215a;
  border-radius: .25em; }

.colorGreenScreen {
  background-image: linear-gradient(to right, #928E73, #999884, #9D9D85, #9D9D85);
  border: #ff0707;
  border-radius: .25em; }

.colorGreenEdge {
  background-color: #D6C6B6;
  border: 1px solid #bbbbbb;
  border-radius: .25em; }

.colorTextDarkRed {
  color: #4A0012; }

.colorTextDarkGreen {
  color: #3A554F; }
