@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap');

$bg-color: rgb(255, 255, 255);



.navbar {
    width: 100%;
    background: none !important;

    @media(max-width: 766px) {
        background: white !important;
    }
    
    .backUpTrail {
        width: 2.6em;
        margin: 0em;
      }
    
}

